{% extends "base.html" %}{% load debug_tags i18n %}

{% comment %}
  All Products
	{{ all_products }}

	Public Products
	{{ public_products }}

	Billing Account
	{{ billing_account }}

	Products
	{{ products }}

	Current Product
	{{ current_product }}
{% endcomment %}

{% block page-content %}

	<div class='panel'>
		{% if current_product %}
		<b>Currently Subscription </b> {{ current_product }} <br/>
		<b>Billing Account</b> {{ billing_account }} <br/>
		{% else %}
			<em> Looks like you aren't currently subscribed to anything, try starting with the Free tier.</em>
		{% endif %}
	</div>

	<h3>Products</h3>
	{% for product in public_products %}
	<div class="three columns">
		<ul class="pricing-table">
			<li class="title">{{ product.verbose_name }}</li>
			<li class="price">
				{% if product.get_requires_payment_details %}
					{{ product.base_price }}
				{% else %}
					{% trans 'Free' %}
				{% endif %}
			</li>
			<li class="description">...</li>
			{% for feature in product.features %}
			<li class="bullet-item">{{ feature.get_instance_name }}</li>
			{% endfor %}
			<li class="cta-button"><a class="button" href="#">Buy it Now &raquo;</a></li>
		</ul>
	</div>
	{% endfor %}
{% endblock %}
